

html{
    font-size: 16px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0 auto;
    margin: 0 auto;
}

#Banner{
    position: relative;
    height: 33rem;
    padding: 0 25%;
    background-image: linear-gradient(180deg, white, rgb(215, 248, 161));
    background-size: cover;
    text-align: center;
}

h1{
    padding-top: 7rem;
    padding-bottom: 1.25rem;
    font-size: 4rem;
}

#Banner p {
    margin-top: -5px;
    line-height: 1.5;
    font-size: 1.37rem;
}

.container{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
.supporting{
    padding-top: 80px;
    padding-bottom: 100px;
}

.supporting .col{
    text-align: center;
    width: 100%;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 0 10px;
}

.supporting h2{
    font-weight: 600px;
    font-size: 23px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: black;
}